h1,h2,h3,h4,h5,h6,input,textarea,button,label,legend,p,td,th,tr,td{
    font-family: 'Arial', sans-serif;
}
p{
    margin: 0
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.form__input{
    display: flex;
    column-gap: 10px;
}

.form__label{
    font-weight: bold;
    width: 125px;
}
.form__button{
    width: 75px;
}

.form__button-mod{
    width: 175px;
    height: 50px;
}

.form__message-s{
    color: green;
}
.form__message-f{
    color: red;
}


.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}
.loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite ;
}
.loader::after{
    transform: rotate3d(90, 90, 0, 180deg );
    border-color: #FF3D00;
}

@keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
}

.noVisible{
    display: none;
}

.form__options{
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: right;
}

.form__checkbox{
    display: flex;
    column-gap: 5px;
}

.form__captura{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form__fields{
    display: flex;
    align-items: center;
}
.form__fields label{
    width: 70px;
}
.form__fContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.results{
    height: 400px;
    overflow-y: scroll;
    border: 1px solid black;
    width: 700px;
}

.view{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.table{
    width: 100%;
    border-collapse: collapse;
}

td,th{
    text-align: left;
}
td{
    border: 1px solid black;
}

.table__selected{
    background-color: #3b82f6;
}

.table__disabled{
    background-color: #E5E7EB;
}
.table__disabled thead td{
    border: none;
    color: #6B7280
}

.table__disabled tr td{
    border: none;
    color: #6B7280
}

.form__error{
    color: red;
    font-size: 15px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
}